set_location BUT1_r_RNIKV9M2 1 8 5 # SB_LUT4 (LogicCell: BUT1_r_RNIKV9M2_LC_0)
set_location LED1_m0_r_RNO 5 2 1 # SB_LUT4 (LogicCell: LED1_m0_r_LC_1)
set_location LED1_m0_r 5 2 1 # SB_DFFE (LogicCell: LED1_m0_r_LC_1)
set_location LED1_m1_r_RNO 2 2 3 # SB_LUT4 (LogicCell: LED1_m1_r_LC_2)
set_location LED1_m1_r 2 2 3 # SB_DFFSS (LogicCell: LED1_m1_r_LC_2)
set_location LED1_obuf_RNO 4 2 4 # SB_LUT4 (LogicCell: LED1_obuf_RNO_LC_3)
set_location LED2_m0_r_RNO 5 2 4 # SB_LUT4 (LogicCell: LED2_m0_r_LC_4)
set_location LED2_m0_r 5 2 4 # SB_DFFE (LogicCell: LED2_m0_r_LC_4)
set_location LED2_m1_r_RNO 2 2 5 # SB_LUT4 (LogicCell: LED2_m1_r_LC_5)
set_location LED2_m1_r 2 2 5 # SB_DFFSR (LogicCell: LED2_m1_r_LC_5)
set_location LED2_obuf_RNO 4 2 3 # SB_LUT4 (LogicCell: LED2_obuf_RNO_LC_6)
set_location clk_div_RNI06L91[11] 4 8 2 # SB_LUT4 (LogicCell: clk_div_RNI06L91[11]_LC_7)
set_location clk_div_RNIM1KP1[11] 1 8 2 # SB_LUT4 (LogicCell: clk_div_RNIM1KP1[11]_LC_8)
set_location clk_div_RNO[0] 4 6 1 # SB_LUT4 (LogicCell: clk_div[0]_LC_9)
set_location clk_div[0] 4 6 1 # SB_DFF (LogicCell: clk_div[0]_LC_9)
set_location clk_div_RNO[1] 4 6 0 # SB_LUT4 (LogicCell: clk_div[1]_LC_10)
set_location clk_div[1] 4 6 0 # SB_DFF (LogicCell: clk_div[1]_LC_10)
set_location clk_div_RNO[10] 5 8 1 # SB_LUT4 (LogicCell: clk_div[10]_LC_11)
set_location clk_div[10] 5 8 1 # SB_DFF (LogicCell: clk_div[10]_LC_11)
set_location clk_div_RNO[2] 5 7 1 # SB_LUT4 (LogicCell: clk_div[2]_LC_12)
set_location clk_div[2] 5 7 1 # SB_DFF (LogicCell: clk_div[2]_LC_12)
set_location clk_div_1_cry_2_c 5 7 1 # SB_CARRY (LogicCell: clk_div[2]_LC_12)
set_location clk_div_RNO[3] 5 7 2 # SB_LUT4 (LogicCell: clk_div[3]_LC_13)
set_location clk_div[3] 5 7 2 # SB_DFF (LogicCell: clk_div[3]_LC_13)
set_location clk_div_1_cry_3_c 5 7 2 # SB_CARRY (LogicCell: clk_div[3]_LC_13)
set_location clk_div_RNO[4] 5 7 3 # SB_LUT4 (LogicCell: clk_div[4]_LC_14)
set_location clk_div[4] 5 7 3 # SB_DFF (LogicCell: clk_div[4]_LC_14)
set_location clk_div_1_cry_4_c 5 7 3 # SB_CARRY (LogicCell: clk_div[4]_LC_14)
set_location clk_div_RNO[5] 5 7 4 # SB_LUT4 (LogicCell: clk_div[5]_LC_15)
set_location clk_div[5] 5 7 4 # SB_DFF (LogicCell: clk_div[5]_LC_15)
set_location clk_div_1_cry_5_c 5 7 4 # SB_CARRY (LogicCell: clk_div[5]_LC_15)
set_location clk_div_RNO[6] 5 7 5 # SB_LUT4 (LogicCell: clk_div[6]_LC_16)
set_location clk_div[6] 5 7 5 # SB_DFF (LogicCell: clk_div[6]_LC_16)
set_location clk_div_1_cry_6_c 5 7 5 # SB_CARRY (LogicCell: clk_div[6]_LC_16)
set_location clk_div_RNO[7] 5 7 6 # SB_LUT4 (LogicCell: clk_div[7]_LC_17)
set_location clk_div[7] 5 7 6 # SB_DFF (LogicCell: clk_div[7]_LC_17)
set_location clk_div_1_cry_7_c 5 7 6 # SB_CARRY (LogicCell: clk_div[7]_LC_17)
set_location clk_div_RNO[8] 5 7 7 # SB_LUT4 (LogicCell: clk_div[8]_LC_18)
set_location clk_div[8] 5 7 7 # SB_DFF (LogicCell: clk_div[8]_LC_18)
set_location clk_div_1_cry_8_c 5 7 7 # SB_CARRY (LogicCell: clk_div[8]_LC_18)
set_location clk_div_RNO[9] 5 8 0 # SB_LUT4 (LogicCell: clk_div[9]_LC_19)
set_location clk_div[9] 5 8 0 # SB_DFF (LogicCell: clk_div[9]_LC_19)
set_location clk_div_1_cry_9_c 5 8 0 # SB_CARRY (LogicCell: clk_div[9]_LC_19)
set_location cntr_RNI0LHN[5] 2 4 1 # SB_LUT4 (LogicCell: cntr_RNI0LHN[5]_LC_20)
set_location cntr_RNI2AR[1] 2 4 6 # SB_LUT4 (LogicCell: cntr_RNI2AR[1]_LC_21)
set_location cntr_RNI6JK7[6] 2 4 2 # SB_LUT4 (LogicCell: cntr_RNI6JK7[6]_LC_22)
set_location cntr_RNIGH28[5] 2 3 4 # SB_LUT4 (LogicCell: cntr_RNIGH28[5]_LC_23)
set_location cntr_RNIIQR[4] 2 4 7 # SB_LUT4 (LogicCell: cntr_RNIIQR[4]_LC_24)
set_location cntr_RNIJEUK[10] 2 4 5 # SB_LUT4 (LogicCell: cntr_RNIJEUK[10]_LC_25)
set_location cntr_RNIKC8M[8] 2 4 0 # SB_LUT4 (LogicCell: cntr_RNIKC8M[8]_LC_26)
set_location cntr_RNINC5L[4] 2 4 3 # SB_LUT4 (LogicCell: cntr_RNINC5L[4]_LC_27)
set_location cntr_RNITQ4V2[14] 2 3 1 # SB_LUT4 (LogicCell: cntr_RNITQ4V2[14]_LC_28)
set_location cntr_RNIV9NN2[4] 2 3 5 # SB_LUT4 (LogicCell: cntr_RNIV9NN2[4]_LC_29)
set_location cntr_RNO[0] 2 5 0 # SB_LUT4 (LogicCell: cntr[0]_LC_30)
set_location cntr[0] 2 5 0 # SB_DFFE (LogicCell: cntr[0]_LC_30)
set_location cntr_RNO_0[10] 1 5 1 # SB_LUT4 (LogicCell: cntr_RNO_0[10]_LC_31)
set_location cntr_1_cry_10_c 1 5 1 # SB_CARRY (LogicCell: cntr_RNO_0[10]_LC_31)
set_location cntr_RNO_0[11] 1 5 2 # SB_LUT4 (LogicCell: cntr_RNO_0[11]_LC_32)
set_location cntr_1_cry_11_c 1 5 2 # SB_CARRY (LogicCell: cntr_RNO_0[11]_LC_32)
set_location cntr_RNO_0[12] 1 5 3 # SB_LUT4 (LogicCell: cntr_RNO_0[12]_LC_33)
set_location cntr_1_cry_12_c 1 5 3 # SB_CARRY (LogicCell: cntr_RNO_0[12]_LC_33)
set_location cntr_RNO_0[5] 1 4 4 # SB_LUT4 (LogicCell: cntr_RNO_0[5]_LC_34)
set_location cntr_1_cry_5_c 1 4 4 # SB_CARRY (LogicCell: cntr_RNO_0[5]_LC_34)
set_location cntr_RNO_0[6] 1 4 5 # SB_LUT4 (LogicCell: cntr_RNO_0[6]_LC_35)
set_location cntr_1_cry_6_c 1 4 5 # SB_CARRY (LogicCell: cntr_RNO_0[6]_LC_35)
set_location cntr_RNO_0[8] 1 4 7 # SB_LUT4 (LogicCell: cntr_RNO_0[8]_LC_36)
set_location cntr_1_cry_8_c 1 4 7 # SB_CARRY (LogicCell: cntr_RNO_0[8]_LC_36)
set_location cntr_RNO_0[9] 1 5 0 # SB_LUT4 (LogicCell: cntr_RNO_0[9]_LC_37)
set_location cntr_1_cry_9_c 1 5 0 # SB_CARRY (LogicCell: cntr_RNO_0[9]_LC_37)
set_location cntr_RNO[1] 2 5 2 # SB_LUT4 (LogicCell: cntr[1]_LC_38)
set_location cntr[1] 2 5 2 # SB_DFFE (LogicCell: cntr[1]_LC_38)
set_location cntr_RNO[10] 2 5 1 # SB_LUT4 (LogicCell: cntr[10]_LC_39)
set_location cntr[10] 2 5 1 # SB_DFFE (LogicCell: cntr[10]_LC_39)
set_location cntr_RNO[11] 2 5 6 # SB_LUT4 (LogicCell: cntr[11]_LC_40)
set_location cntr[11] 2 5 6 # SB_DFFE (LogicCell: cntr[11]_LC_40)
set_location cntr_RNO[12] 2 5 7 # SB_LUT4 (LogicCell: cntr[12]_LC_41)
set_location cntr[12] 2 5 7 # SB_DFFE (LogicCell: cntr[12]_LC_41)
set_location cntr_RNO[13] 1 5 4 # SB_LUT4 (LogicCell: cntr[13]_LC_42)
set_location cntr[13] 1 5 4 # SB_DFFE (LogicCell: cntr[13]_LC_42)
set_location cntr_1_cry_13_c 1 5 4 # SB_CARRY (LogicCell: cntr[13]_LC_42)
set_location cntr_RNO[14] 1 5 5 # SB_LUT4 (LogicCell: cntr[14]_LC_43)
set_location cntr[14] 1 5 5 # SB_DFFE (LogicCell: cntr[14]_LC_43)
set_location cntr_RNO[2] 1 4 1 # SB_LUT4 (LogicCell: cntr[2]_LC_44)
set_location cntr[2] 1 4 1 # SB_DFFE (LogicCell: cntr[2]_LC_44)
set_location cntr_1_cry_2_c 1 4 1 # SB_CARRY (LogicCell: cntr[2]_LC_44)
set_location cntr_RNO[3] 1 4 2 # SB_LUT4 (LogicCell: cntr[3]_LC_45)
set_location cntr[3] 1 4 2 # SB_DFFE (LogicCell: cntr[3]_LC_45)
set_location cntr_1_cry_3_c 1 4 2 # SB_CARRY (LogicCell: cntr[3]_LC_45)
set_location cntr_RNO[4] 1 4 3 # SB_LUT4 (LogicCell: cntr[4]_LC_46)
set_location cntr[4] 1 4 3 # SB_DFFE (LogicCell: cntr[4]_LC_46)
set_location cntr_1_cry_4_c 1 4 3 # SB_CARRY (LogicCell: cntr[4]_LC_46)
set_location cntr_RNO[5] 1 3 3 # SB_LUT4 (LogicCell: cntr[5]_LC_47)
set_location cntr[5] 1 3 3 # SB_DFFE (LogicCell: cntr[5]_LC_47)
set_location cntr_RNO[6] 1 3 6 # SB_LUT4 (LogicCell: cntr[6]_LC_48)
set_location cntr[6] 1 3 6 # SB_DFFE (LogicCell: cntr[6]_LC_48)
set_location cntr_RNO[7] 1 4 6 # SB_LUT4 (LogicCell: cntr[7]_LC_49)
set_location cntr[7] 1 4 6 # SB_DFFE (LogicCell: cntr[7]_LC_49)
set_location cntr_1_cry_7_c 1 4 6 # SB_CARRY (LogicCell: cntr[7]_LC_49)
set_location cntr_RNO[8] 1 3 7 # SB_LUT4 (LogicCell: cntr[8]_LC_50)
set_location cntr[8] 1 3 7 # SB_DFFE (LogicCell: cntr[8]_LC_50)
set_location cntr_RNO[9] 2 5 3 # SB_LUT4 (LogicCell: cntr[9]_LC_51)
set_location cntr[9] 2 5 3 # SB_DFFE (LogicCell: cntr[9]_LC_51)
set_location mode_RNO 1 7 3 # SB_LUT4 (LogicCell: mode_LC_52)
set_location mode 1 7 3 # SB_DFF (LogicCell: mode_LC_52)
set_location rst_cnt_RNO[0] 2 7 0 # SB_LUT4 (LogicCell: rst_cnt[0]_LC_53)
set_location rst_cnt[0] 2 7 0 # SB_DFFSR (LogicCell: rst_cnt[0]_LC_53)
set_location un1_rst_cnt_1_cry_0_c 2 7 0 # SB_CARRY (LogicCell: rst_cnt[0]_LC_53)
set_location rst_cnt_RNO[1] 2 7 1 # SB_LUT4 (LogicCell: rst_cnt[1]_LC_54)
set_location rst_cnt[1] 2 7 1 # SB_DFFSR (LogicCell: rst_cnt[1]_LC_54)
set_location un1_rst_cnt_1_cry_1_c 2 7 1 # SB_CARRY (LogicCell: rst_cnt[1]_LC_54)
set_location rst_cnt_RNO[10] 2 8 2 # SB_LUT4 (LogicCell: rst_cnt[10]_LC_55)
set_location rst_cnt[10] 2 8 2 # SB_DFFSR (LogicCell: rst_cnt[10]_LC_55)
set_location un1_rst_cnt_1_cry_10_c 2 8 2 # SB_CARRY (LogicCell: rst_cnt[10]_LC_55)
set_location rst_cnt_RNO[11] 2 8 3 # SB_LUT4 (LogicCell: rst_cnt[11]_LC_56)
set_location rst_cnt[11] 2 8 3 # SB_DFFSR (LogicCell: rst_cnt[11]_LC_56)
set_location un1_rst_cnt_1_cry_11_c 2 8 3 # SB_CARRY (LogicCell: rst_cnt[11]_LC_56)
set_location rst_cnt_RNO[12] 2 8 4 # SB_LUT4 (LogicCell: rst_cnt[12]_LC_57)
set_location rst_cnt[12] 2 8 4 # SB_DFFSR (LogicCell: rst_cnt[12]_LC_57)
set_location un1_rst_cnt_1_cry_12_c 2 8 4 # SB_CARRY (LogicCell: rst_cnt[12]_LC_57)
set_location rst_cnt_RNO[13] 2 8 5 # SB_LUT4 (LogicCell: rst_cnt[13]_LC_58)
set_location rst_cnt[13] 2 8 5 # SB_DFFSR (LogicCell: rst_cnt[13]_LC_58)
set_location un1_rst_cnt_1_cry_13_c 2 8 5 # SB_CARRY (LogicCell: rst_cnt[13]_LC_58)
set_location rst_cnt_RNO[2] 2 7 2 # SB_LUT4 (LogicCell: rst_cnt[2]_LC_59)
set_location rst_cnt[2] 2 7 2 # SB_DFFSR (LogicCell: rst_cnt[2]_LC_59)
set_location un1_rst_cnt_1_cry_2_c 2 7 2 # SB_CARRY (LogicCell: rst_cnt[2]_LC_59)
set_location rst_cnt_RNO[3] 2 7 3 # SB_LUT4 (LogicCell: rst_cnt[3]_LC_60)
set_location rst_cnt[3] 2 7 3 # SB_DFFSR (LogicCell: rst_cnt[3]_LC_60)
set_location un1_rst_cnt_1_cry_3_c 2 7 3 # SB_CARRY (LogicCell: rst_cnt[3]_LC_60)
set_location rst_cnt_RNO[4] 2 7 4 # SB_LUT4 (LogicCell: rst_cnt[4]_LC_61)
set_location rst_cnt[4] 2 7 4 # SB_DFFSR (LogicCell: rst_cnt[4]_LC_61)
set_location un1_rst_cnt_1_cry_4_c 2 7 4 # SB_CARRY (LogicCell: rst_cnt[4]_LC_61)
set_location rst_cnt_RNO[5] 2 7 5 # SB_LUT4 (LogicCell: rst_cnt[5]_LC_62)
set_location rst_cnt[5] 2 7 5 # SB_DFFSR (LogicCell: rst_cnt[5]_LC_62)
set_location un1_rst_cnt_1_cry_5_c 2 7 5 # SB_CARRY (LogicCell: rst_cnt[5]_LC_62)
set_location rst_cnt_RNO[6] 2 7 6 # SB_LUT4 (LogicCell: rst_cnt[6]_LC_63)
set_location rst_cnt[6] 2 7 6 # SB_DFFSR (LogicCell: rst_cnt[6]_LC_63)
set_location un1_rst_cnt_1_cry_6_c 2 7 6 # SB_CARRY (LogicCell: rst_cnt[6]_LC_63)
set_location rst_cnt_RNO[7] 2 7 7 # SB_LUT4 (LogicCell: rst_cnt[7]_LC_64)
set_location rst_cnt[7] 2 7 7 # SB_DFFSR (LogicCell: rst_cnt[7]_LC_64)
set_location un1_rst_cnt_1_cry_7_c 2 7 7 # SB_CARRY (LogicCell: rst_cnt[7]_LC_64)
set_location rst_cnt_RNO[8] 2 8 0 # SB_LUT4 (LogicCell: rst_cnt[8]_LC_65)
set_location rst_cnt[8] 2 8 0 # SB_DFFSR (LogicCell: rst_cnt[8]_LC_65)
set_location un1_rst_cnt_1_cry_8_c 2 8 0 # SB_CARRY (LogicCell: rst_cnt[8]_LC_65)
set_location rst_cnt_RNO[9] 2 8 1 # SB_LUT4 (LogicCell: rst_cnt[9]_LC_66)
set_location rst_cnt[9] 2 8 1 # SB_DFFSR (LogicCell: rst_cnt[9]_LC_66)
set_location un1_rst_cnt_1_cry_9_c 2 8 1 # SB_CARRY (LogicCell: rst_cnt[9]_LC_66)
set_location rst_cnt_esr_RNI37G6[14] 1 8 3 # SB_LUT4 (LogicCell: rst_cnt_esr_RNI37G6[14]_LC_67)
set_location rst_cnt_esr_RNO_0[14] 1 8 6 # SB_LUT4 (LogicCell: rst_cnt_esr_RNO_0[14]_LC_68)
set_location rst_cnt_esr_RNO[14] 2 9 0 # SB_LUT4 (LogicCell: rst_cnt_esr[14]_LC_69)
set_location rst_cnt_esr[14] 2 9 0 # SB_DFFESR (LogicCell: rst_cnt_esr[14]_LC_69)
set_location BUT1_r_THRU_LUT4_0 6 2 2 # SB_LUT4 (LogicCell: BUT1_r_LC_70)
set_location BUT1_r 6 2 2 # SB_DFFE (LogicCell: BUT1_r_LC_70)
set_location BUT2_r_THRU_LUT4_0 5 2 6 # SB_LUT4 (LogicCell: BUT2_r_LC_71)
set_location BUT2_r 5 2 6 # SB_DFFE (LogicCell: BUT2_r_LC_71)
set_location clk_div_11_THRU_LUT4_0 4 8 5 # SB_LUT4 (LogicCell: clk_div[11]_LC_72)
set_location clk_div[11] 4 8 5 # SB_DFF (LogicCell: clk_div[11]_LC_72)
set_location clk_div_1_cry_1_c 5 7 0 # SB_CARRY (LogicCell: clk_div_1_cry_1_c_LC_73)
set_location clk_div_RNI7GQ5[5] 4 7 4 # SB_CARRY (LogicCell: clk_div_RNI7GQ5[5]_LC_74)
set_location clk_div_RNI86O8[8] 4 7 7 # SB_CARRY (LogicCell: clk_div_RNI86O8[8]_LC_75)
set_location clk_div_RNI91U1[1] 4 7 0 # SB_CARRY (LogicCell: clk_div_RNI91U1[1]_LC_76)
set_location clk_div_RNIAAMP[10] 4 8 1 # SB_CARRY (LogicCell: clk_div_RNIAAMP[10]_LC_77)
set_location clk_div_RNIF3T2[2] 4 7 1 # SB_CARRY (LogicCell: clk_div_RNIF3T2[2]_LC_78)
set_location clk_div_RNIHMP6[6] 4 7 5 # SB_CARRY (LogicCell: clk_div_RNIHMP6[6]_LC_79)
set_location clk_div_RNILFN9[9] 4 8 0 # SB_CARRY (LogicCell: clk_div_RNILFN9[9]_LC_80)
set_location clk_div_RNIM6S3[3] 4 7 2 # SB_CARRY (LogicCell: clk_div_RNIM6S3[3]_LC_81)
set_location clk_div_RNISTO7[7] 4 7 6 # SB_CARRY (LogicCell: clk_div_RNISTO7[7]_LC_82)
set_location clk_div_RNIUAR4[4] 4 7 3 # SB_CARRY (LogicCell: clk_div_RNIUAR4[4]_LC_83)
set_location cntr_1_cry_1_c 1 4 0 # SB_CARRY (LogicCell: cntr_1_cry_1_c_LC_84)
set_io BUT1_ibuf 10 0 0 # ICE_IO
set_io BUT2_ibuf 10 0 1 # ICE_IO
set_io CLK_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_location GND -1 -1 -1 # GND
set_io LED1_obuf 9 0 1 # ICE_IO
set_io LED2_obuf 13 3 1 # ICE_IO
set_io clk_div_RNIM1KP1_0[11] 0 9 0 # ICE_GB
set_location un1_rst_cnt_1_cry_13_c_THRU_CRY_0 2 8 6 # SB_CARRY (LogicCell: LC_85)
set_location un1_rst_cnt_1_cry_13_c_THRU_CRY_1 2 8 7 # SB_CARRY (LogicCell: LC_86)
set_location CONSTANT_ONE_LUT4 1 8 0 # SB_LUT4 (LogicCell: LC_87)
