set_location IN_MUX_bfv_1_4_0_ 1 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_5_0_ 1 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_7_0_ 4 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_8_0_ 4 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_7_0_ 5 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_8_0_ 5 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_7_0_ 2 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_8_0_ 2 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 1 8 0 #SB_LUT4
set_location un1_rst_cnt_1_cry_13_c_THRU_CRY_1 2 8 7 #SB_CARRY
set_location un1_rst_cnt_1_cry_13_c_THRU_CRY_0 2 8 6 #SB_CARRY
set_location clk_div_11_THRU_LUT4_0 4 8 5 #SB_LUT4
set_location BUT2_r_THRU_LUT4_0 5 2 6 #SB_LUT4
set_location BUT1_r_THRU_LUT4_0 6 2 2 #SB_LUT4
set_location rst_cnt_esr_RNO[14] 2 9 0 #SB_LUT4
set_location rst_cnt[6] 2 7 6 #SB_DFFSR
set_location cntr_RNO[7] 1 4 6 #SB_LUT4
set_location clk_div_RNI06L91[11] 4 8 2 #SB_LUT4
set_location clk_div[0] 4 6 1 #SB_DFF
set_location rst_cnt_RNO[6] 2 7 6 #SB_LUT4
set_location clk_div_RNIM1KP1[11] 1 8 2 #SB_LUT4
set_location cntr_RNO_0[8] 1 4 7 #SB_LUT4
set_location clk_div[7] 5 7 6 #SB_DFF
set_location clk_div_1_cry_2_c 5 7 1 #SB_CARRY
set_location LED2_obuf_RNO 4 2 3 #SB_LUT4
set_location LED1_m1_r 2 2 3 #SB_DFFSS
set_location BUT1_r 6 2 2 #SB_DFFE
set_location cntr_1_cry_10_c 1 5 1 #SB_CARRY
set_location cntr[12] 2 5 7 #SB_DFFE
set_location rst_cnt_RNO[9] 2 8 1 #SB_LUT4
set_location clk_div_RNO[0] 4 6 1 #SB_LUT4
set_location un1_rst_cnt_1_cry_12_c 2 8 4 #SB_CARRY
set_location cntr_RNO[13] 1 5 4 #SB_LUT4
set_location clk_div_1_cry_7_c 5 7 6 #SB_CARRY
set_location rst_cnt_esr[14] 2 9 0 #SB_DFFESR
set_location cntr[7] 1 4 6 #SB_DFFE
set_location cntr_1_cry_7_c 1 4 6 #SB_CARRY
set_location clk_div_RNI86O8[8] 4 7 7 #SB_CARRY
set_location rst_cnt[3] 2 7 3 #SB_DFFSR
set_location cntr_RNO[4] 1 4 3 #SB_LUT4
set_location clk_div[10] 5 8 1 #SB_DFF
set_location LED1_m1_r_RNO 2 2 3 #SB_LUT4
set_location un1_rst_cnt_1_cry_10_c 2 8 2 #SB_CARRY
set_location cntr[11] 2 5 6 #SB_DFFE
set_location clk_div_1_cry_6_c 5 7 5 #SB_CARRY
set_location LED2_m1_r_RNO 2 2 5 #SB_LUT4
set_location un1_rst_cnt_1_cry_1_c 2 7 1 #SB_CARRY
set_location rst_cnt_RNO[3] 2 7 3 #SB_LUT4
set_location cntr_RNO_0[6] 1 4 5 #SB_LUT4
set_location cntr_RNO_0[11] 1 5 2 #SB_LUT4
set_location cntr[0] 2 5 0 #SB_DFFE
set_location clk_div_RNIUAR4[4] 4 7 3 #SB_CARRY
set_location rst_cnt[4] 2 7 4 #SB_DFFSR
set_location cntr_RNO[1] 2 5 2 #SB_LUT4
set_location cntr_RNI2AR[1] 2 4 6 #SB_LUT4
set_location cntr_1_cry_3_c 1 4 2 #SB_CARRY
set_location clk_div_RNO[7] 5 7 6 #SB_LUT4
set_location clk_div_RNIM6S3[3] 4 7 2 #SB_CARRY
set_location un1_rst_cnt_1_cry_9_c 2 8 1 #SB_CARRY
set_location cntr_RNO[8] 1 3 7 #SB_LUT4
set_location cntr_RNO[12] 2 5 7 #SB_LUT4
set_location cntr_1_cry_4_c 1 4 3 #SB_CARRY
set_location clk_div_RNO[8] 5 7 7 #SB_LUT4
set_location clk_div[2] 5 7 1 #SB_DFF
set_location BUT2_r 5 2 6 #SB_DFFE
set_location rst_cnt[13] 2 8 5 #SB_DFFSR
set_location clk_div_RNO[10] 5 8 1 #SB_LUT4
set_location clk_div_1_cry_4_c 5 7 3 #SB_CARRY
set_location un1_rst_cnt_1_cry_0_c 2 7 0 #SB_CARRY
set_location rst_cnt[9] 2 8 1 #SB_DFFSR
set_location cntr[4] 1 4 3 #SB_DFFE
set_location cntr_1_cry_2_c 1 4 1 #SB_CARRY
set_location clk_div_RNIHMP6[6] 4 7 5 #SB_CARRY
set_location rst_cnt_RNO[10] 2 8 2 #SB_LUT4
set_location rst_cnt[0] 2 7 0 #SB_DFFSR
set_location cntr_RNO[5] 1 3 3 #SB_LUT4
set_location cntr_RNINC5L[4] 2 4 3 #SB_LUT4
set_location clk_div_RNO[3] 5 7 2 #SB_LUT4
set_location clk_div[9] 5 8 0 #SB_DFF
set_location clk_div[11] 4 8 5 #SB_DFF
set_location un1_rst_cnt_1_cry_7_c 2 7 7 #SB_CARRY
set_location cntr[10] 2 5 1 #SB_DFFE
set_location LED2_m0_r_RNO 5 2 4 #SB_LUT4
set_location rst_cnt_RNO[4] 2 7 4 #SB_LUT4
set_location cntr[1] 2 5 2 #SB_DFFE
set_location clk_div_1_cry_5_c 5 7 4 #SB_CARRY
set_location clk_div_1_cry_3_c 5 7 2 #SB_CARRY
set_location rst_cnt[5] 2 7 5 #SB_DFFSR
set_location cntr_RNO[2] 1 4 1 #SB_LUT4
set_location cntr[8] 1 3 7 #SB_DFFE
set_location cntr_1_cry_11_c 1 5 2 #SB_CARRY
set_location clk_div_RNO[6] 5 7 5 #SB_LUT4
set_location LED1_m0_r_RNO 5 2 1 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location cntr_RNO[9] 2 5 3 #SB_LUT4
set_location cntr_RNIIQR[4] 2 4 7 #SB_LUT4
set_location cntr_1_cry_1_c 1 4 0 #SB_CARRY
set_location clk_div[5] 5 7 4 #SB_DFF
set_location un1_rst_cnt_1_cry_5_c 2 7 5 #SB_CARRY
set_location un1_rst_cnt_1_cry_13_c 2 8 5 #SB_CARRY
set_location rst_cnt[12] 2 8 4 #SB_DFFSR
set_location mode 1 7 3 #SB_DFF
set_location cntr[14] 1 5 5 #SB_DFFE
set_location clk_div_RNIF3T2[2] 4 7 1 #SB_CARRY
set_location clk_div_RNIAAMP[10] 4 8 1 #SB_CARRY
set_location LED2_m1_r 2 2 5 #SB_DFFSR
set_location rst_cnt_esr_RNO_0[14] 1 8 6 #SB_LUT4
set_location rst_cnt_RNO[0] 2 7 0 #SB_LUT4
set_location mode_RNO 1 7 3 #SB_LUT4
set_location cntr_RNO_0[5] 1 4 4 #SB_LUT4
set_location cntr_RNO_0[12] 1 5 3 #SB_LUT4
set_location cntr_RNIKC8M[8] 2 4 0 #SB_LUT4
set_location cntr[5] 1 3 3 #SB_DFFE
set_location cntr_1_cry_9_c 1 5 0 #SB_CARRY
set_location clk_div_1_cry_1_c 5 7 0 #SB_CARRY
set_location un1_rst_cnt_1_cry_2_c 2 7 2 #SB_CARRY
set_location rst_cnt_RNO[13] 2 8 5 #SB_LUT4
set_location rst_cnt[1] 2 7 1 #SB_DFFSR
set_location cntr_RNO[6] 1 3 6 #SB_LUT4
set_location clk_div_RNO[2] 5 7 1 #SB_LUT4
set_location clk_div_RNILFN9[9] 4 8 0 #SB_CARRY
set_location clk_div[8] 5 7 7 #SB_DFF
set_location LED2_m0_r 5 2 4 #SB_DFFE
set_location cntr_RNO[11] 2 5 6 #SB_LUT4
set_location cntr_1_cry_6_c 1 4 5 #SB_CARRY
set_location cntr_1_cry_12_c 1 5 3 #SB_CARRY
set_location clk_div_1_cry_8_c 5 7 7 #SB_CARRY
set_location clk_div[1] 4 6 0 #SB_DFF
set_location un1_rst_cnt_1_cry_11_c 2 8 3 #SB_CARRY
set_location rst_cnt_RNO[5] 2 7 5 #SB_LUT4
set_location cntr_RNO[3] 1 4 2 #SB_LUT4
set_location cntr_RNO_0[9] 1 5 0 #SB_LUT4
set_location cntr[9] 2 5 3 #SB_DFFE
set_location clk_div_RNO[5] 5 7 4 #SB_LUT4
set_location LED1_obuf_RNO 4 2 4 #SB_LUT4
set_location LED1_m0_r 5 2 1 #SB_DFFE
set_location cntr_RNO[14] 1 5 5 #SB_LUT4
set_location cntr_RNIV9NN2[4] 2 3 5 #SB_LUT4
set_location clk_div[4] 5 7 3 #SB_DFF
set_location clk_div_1_cry_9_c 5 8 0 #SB_CARRY
set_location rst_cnt[11] 2 8 3 #SB_DFFSR
set_location cntr[13] 1 5 4 #SB_DFFE
set_location un1_rst_cnt_1_cry_8_c 2 8 0 #SB_CARRY
set_location rst_cnt_RNO[1] 2 7 1 #SB_LUT4
set_location cntr[2] 1 4 1 #SB_DFFE
set_location cntr_1_cry_5_c 1 4 4 #SB_CARRY
set_location rst_cnt_RNO[8] 2 8 0 #SB_LUT4
set_location rst_cnt_RNO[12] 2 8 4 #SB_LUT4
set_location clk_div_RNO[1] 4 6 0 #SB_LUT4
set_location cntr_RNO[10] 2 5 1 #SB_LUT4
set_location cntr_RNIJEUK[10] 2 4 5 #SB_LUT4
set_location un1_rst_cnt_1_cry_6_c 2 7 6 #SB_CARRY
set_location cntr[6] 1 3 6 #SB_DFFE
set_location clk_div_RNO[4] 5 7 3 #SB_LUT4
set_location rst_cnt[2] 2 7 2 #SB_DFFSR
set_location cntr_RNI6JK7[6] 2 4 2 #SB_LUT4
set_location cntr_RNI0LHN[5] 2 4 1 #SB_LUT4
set_location clk_div_RNI91U1[1] 4 7 0 #SB_CARRY
set_location clk_div_RNI7GQ5[5] 4 7 4 #SB_CARRY
set_location rst_cnt[10] 2 8 2 #SB_DFFSR
set_location clk_div_RNISTO7[7] 4 7 6 #SB_CARRY
set_location rst_cnt_RNO[2] 2 7 2 #SB_LUT4
set_location cntr_RNO_0[10] 1 5 1 #SB_LUT4
set_location cntr_RNITQ4V2[14] 2 3 1 #SB_LUT4
set_location cntr_RNIGH28[5] 2 3 4 #SB_LUT4
set_location cntr[3] 1 4 2 #SB_DFFE
set_location un1_rst_cnt_1_cry_4_c 2 7 4 #SB_CARRY
set_location rst_cnt[7] 2 7 7 #SB_DFFSR
set_location cntr_RNO[0] 2 5 0 #SB_LUT4
set_location cntr_1_cry_8_c 1 4 7 #SB_CARRY
set_location clk_div_RNO[9] 5 8 0 #SB_LUT4
set_location clk_div[3] 5 7 2 #SB_DFF
set_location rst_cnt_esr_RNI37G6[14] 1 8 3 #SB_LUT4
set_location rst_cnt_RNO[7] 2 7 7 #SB_LUT4
set_location BUT1_r_RNIKV9M2 1 8 5 #SB_LUT4
set_location un1_rst_cnt_1_cry_3_c 2 7 3 #SB_CARRY
set_location rst_cnt[8] 2 8 0 #SB_DFFSR
set_location rst_cnt_RNO[11] 2 8 3 #SB_LUT4
set_location cntr_1_cry_13_c 1 5 4 #SB_CARRY
set_location clk_div[6] 5 7 5 #SB_DFF
set_io LED2 51
set_io CLK 15
set_io BUT1 41
set_io LED1 40
set_io BUT2 42
